BlackBookInteractor/BlackBookInteractor/BlackBookInteractor/Service References/IccVinService/GetExpandedVINInformationInput.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:bons0="http://cpi/policy/get_expanded_vin_information_input_epl2x1" targetNamespace="http://cpi/policy/get_expanded_vin_information_input_epl2x1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="GetExpandedVINInformationInput">
    <xsd:sequence>
      <xsd:element name="VehicleIdentificationNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains a unique number assigned by the manufacturer.   The amount and type of the information provided by the number varies by manufacturer.  Typically, the VIN identifies the manufacturer, model, year and serial number of the vehicle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ManufacturersName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains the name used to indentify the manufacturer of the piece of equipment, such as a vehicle or watercraft.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModelName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element contains the name assigned to a specific piece of equipment by the manufacturer.  It indentifies the specific model within the trade name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ModelYear">
        <xsd:annotation>
          <xsd:documentation>This element contains the year assigned to the specific equipment, such as a watercraft or vehicle.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="4" />
            <xsd:pattern value="\d\d\d\d" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PostalStateAbbreviation">
        <xsd:annotation>
          <xsd:documentation>This element is the two character US Postal State Abbreviation. 
The E1T00111 Corporate Table contains valid values for this element in the "PSTL_ST_AB" column. </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="2" />
            <xsd:pattern value="[A-Z][A-Z]" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="StateOrProvinceCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>This element is a code for a state, province or territory within a country or nation.
The E1T00111 Corporate Table contains valid values for this element in the "ST_PROV_C" column.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RateDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>This element represents the date when a policy was rated or quoted. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>